form {
    background: #fff;
    color: #333;
    padding: 20px;
    margin: 20px auto;
    width: 50%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    position: relative;
}

form input, form select, form textarea {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background: rgba(255, 20, 147, 0.53);
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

form button:hover {
    background: rgba(255, 20, 147, 0.9);
}
