.card {
  margin: 60px auto;
  padding: 40px;
  width: 400px;
  background: rgba(255,255,255,0.15);
  backdrop-filter: blur(5px);
  text-align: center;
  border-radius: $border-radius;
  box-shadow: $shadow;
}
